.b-about {
  padding: 6rem 0;
  text-align: center;
  p {
    font-family: $primary-font;
  }
  a {
    color: $primary-1;
    &:hover {
      color: $grey-3;
    }
  }
  @media (min-width: 550px) {
    text-align: left;
  }
}
