.b-contact {
  padding: 6rem 0;
  ul {
    li {
      list-style-type: none;
      a {
        color: $primary-1;
      }
    }
  }
  text-align: center;
  @media (min-width: 550px) {
    text-align: left;
  }
}
