.b-nav {
  padding: 6rem 0;
  text-align: center;
  .logo {
    svg {
      fill: $grey-5;
      transition: $transition-all-1;
    }
    &:hover {
      svg {
        fill: $primary-1;
      }
    }
  }
  nav {
    ul {
      margin-bottom: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin: 2rem 0 0 2rem;
      }
    }
  }
  @media (min-width: 550px) {
    .logo {
      float: left;
    }
    nav {
      float: right;
    }
  }
  @media (min-width: 750px) {
    text-align: none;
    nav {
      ul {
        li {
          margin: 0 0 0 6rem;
        }
      }
    }
  }
}
