.top {
  width: 3rem;
  height: auto;
  background-color: $white;
  opacity: 0.5;
  display: block;
  text-align: center;
  padding: 5px;
  transition: $transition-all-1;
  svg {
    width: 2rem;
    fill: $grey-5;
    transform: rotate(180deg);
    transition: $transition-all-1;
  }
  span {
    display: inline-block;
  }
  &:hover {
    color: $primary-1;
    opacity: 1;
    svg {
      fill: $primary-1;
    }
  }
}
