
.b-worklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .item {
    height: 400px;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: calc(33.333%);
    flex: calc(33.333%);
    position: relative;
    img {
      width: 150%;
    }
    div {
      position: absolute;
      opacity: 0;
    }
    &:hover {
      img {
        opacity: 0.2;
      }
      div {
        opacity: 1;
      }
    }
  }
}
