.b-about {
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 500;
  }
  &__item {
    margin-bottom: 200px;
    @media (max-width: 576px) {
      margin-bottom: 40px;
    }
    h2 {
      font-size: 2.5rem;
      text-align: center;
    }
    img {
      max-width: 400px;
      width: 100%;
    }
    .subtitle {
      max-width: 500px;
      text-align: center;
    }
  }
  .anchornav {
    font-size: 1.5rem;
    margin-top: 6rem;
    display: inline-block;
    @media (max-width: 576px) {
      margin-top: 0;
      margin-bottom: 0;
    }
    img {
      width: 1rem;
      margin-right: 1rem;
    }
  }
}
