.b-about {
  padding: 2rem 0;
  text-align: center;
  p {
    font-family: $primary-font;
    font-weight: 800;
    font-size: 2rem;
  }
  a {
    color: $primary-1;
    span {
      font-size: 4rem;
    }
    &:hover {
      color: $grey-3;
    }
  }
}
