.b-work {
  padding: 6rem 0;
  h1 {
    margin-bottom: 3rem;
  }
  a {
    color: $primary-1;
    margin-bottom: 2.5rem;
    display: inline-block;
    &:hover {
      color: $grey-3;
    }
  }
  p {
    a {
      margin-bottom: 0;
    }
  }
  img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: inherit;
  }
  figcaption {
    font-size: 1.2rem;
    color: $grey-3;
    text-align: center;
  }
  h3 {
    font-size: 3.6rem;
  }
  ul {
    li {
      font-family: $secondary-font;
    }
  }
  ol {
    li {
      font-family: $secondary-font;
    }
  }
  .anchornav {
    font-size: 1.5rem;
    margin-top: 6rem;
    display: inline-block;
    img {
      width: 1rem;
      margin-right: 1rem;
    }
  }
}
