body {
  font-family: $primary-font;
  font-weight: 300;
  color: $grey-5;
  background-color: $white;
}
a {
  color: $grey-5;
  text-decoration: none;
  transition: $transition-all-1;
  &:hover {
    color: $primary-1;
  }
}
p {
  font-family: $secondary-font;
}
